.menubar{
    position: absolute;
    width: 5%;
    height: 95%;
    top: 2.5%;
    left: 1%;
    /* left: 2.5%; */
    border-radius: 20px;
    /* background-color: #fdfe7c; */
    background-color: #3d3661;
}

.appicon{
    position: relative;
    width: 50%;
    height: 6%;
    margin-left: 25%;
    margin-top: 20%;
}
    
.heading{
    position: relative;
    height: 5%;
    width: 70%;
    color: white;
    top: 2%;
    margin-left: 15%;
    margin-bottom: 80%;
    font-size: smaller;
    border-bottom: 1px solid black;
}

.menubuttons{
    position: relative;
    width: 80%;
    height: 30%;
    position: absolute;
    /* display: flex; */
    /* flex-direction: column; */
    /* gap: 5%; */
    background-color: transparent;
    margin-top: 70%;
    margin-left: 10%;

}

.icons{
    height: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 75%;
    background-color: transparent;
    color: white;
    
}

.icons:hover{
    cursor: pointer;
}

.settingsicon{
    margin-left: -15%;
    color: white;
}

.user-avatar {
    top: 80%;
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    margin-left: 30%;
}

.user-avatar:hover .logout-button {
    opacity: 1;
    transform: translate(-30%, 70%);
}

/* .user-avatar img {
    width: 100%;
    background-color: hsl(223 36% 14%);
} */

.logout-button {
    background: transparent;
    border: unset;
    color: white;
    position: absolute;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: #6458a2;
    left: 5%;
    transform: translate(-30%, -30%);
    opacity: 0;
    transition: 0.6s cubic-bezier(0, 0.39, 0.87, 1.08);
    cursor: pointer;
}